{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="login-box">
        <img src="{% static 'img/Logo.svg'%}" class="avatar" alt="Avatar Image">
        <h1>Login</h1>
        <form action="{% url 'usuario' %}" method="post">
          {%csrf_token%}
          <!-- USERNAME INPUT -->
          <label for="username">Usuario</label>
          <input type="text" value="{{usuarios.nombre_usuario}}" placeholder="Ingresar Usuario" name="usuario">
          <!-- PASSWORD INPUT -->
          <label for="password">Contraseña</label>
          <input type="password" value="{{usuarios.contraseña_usuario}}" name="contraseña" placeholder="Ingrese contraseña">
          <input type="submit" value="Iniciar Sesión">
          <a href="{% url 'account'%}">No tienes una cuenta?</a>
        </form>
      </div>
      section
</body>
</html>